body {
    font-family: sans-serif;
    margin: 0;
}
div{
    border: 1px solid black;
}
header ,h1,p,h2{
    border: 1px solid black;
    margin: 0;
}

.group-contral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    border: 1px solid black;
}

.main-container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;

}
.group-container{
    border: 1px solid black;
    width: 15em;
}

.group-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

